# -----------------------------------------------------------------------
# Jira Connection Settings
# -----------------------------------------------------------------------
JIRA_BASE_URL=http://ri-jira:8080/
JIRA_USERNAME=h.farzandi116183  
JIRA_API_TOKEN=hosseinpc
JIRA_REPORTER=h.farzandi116183
# JIRA_USERNAME=f.radfar101799
# JIRA_API_TOKEN=73213960
# JIRA_REPORTER=f.radfar101799

# -----------------------------------------------------------------------
# Application Settings
# -----------------------------------------------------------------------
# Path to the YAML configuration file (relative to project root)
APP_CONFIG_PATH=config/config.yaml

# Environment name, used only for logging/labelling (dev/staging/prod)
APP_ENVIRONMENT=dev
